<div class="main">
 <div class="first">
  <div class="back1">
  <div class="bg_text">
  <div class="bg_text1">
  <h1>みんなのつぼ</h1>
  <h3>悩み・相談・お題・投稿フォーム</h3>
  </div>
  </div>
  </div>
 </div> 
 <div class="presecond">
 <div class="second">
  <%= form_for @tweet do |f| %>
   <div class="field pt-5">
    <%= f.label :お悩みジャンル %>
    <%= f.select :potision_tweets, 
    [["大学", "大学"], 
    ["就活", "就活"], 
    ["勉強", "勉強"],
    ["日常生活", "日常生活"],
    ["アルバイト", "アルバイト"],
    ["恋愛","恋愛"],
    ["友達","友達"],
    ["たかつぼについて","たかつぼについて"],
    ["その他", "その他"]], include_blank: "選択して下さい",class: "col-md-6 form-control" %>
   </div>

    <div class="field">
       <%= f.label :about_tweets %>
       <%= f.text_field :about_tweets, :size => 200 ,class: "col-md-12 form-control"%>
    </div>
   
   <div class="pt-3">
    <%= f.submit "投稿する",class: "btn btn-primary" %>
   <div class="pt-2"> 
    <%= link_to "投稿一覧に戻る", tweets_path%>
   </div> 
   </div> 
  <% end %>
 </div>
</div>
</div>
